SHOP_DB_HOST=localhost
SHOP_DB_PORT=5432
SHOP_DB_NAME=vienna_shop
SHOP_DB_USER=postgres
SHOP_DB_PASSWORD=postgres
SHOP_SUPERADMIN_USER=superadmin
SHOP_SUPERADMIN_PASSWORD=superadmin
SHOP_COOKIE_SECRET=replace-me
